.context-menu(
    style='left:{{contextMenu.x}}px; top:{{contextMenu.y}}px;',
    al-on.mouseleave='contextMenu.hide()',
    al-if='contextMenu.visible'

)
  .item(al-repeat='(name,item) in contextMenu.items')
    | {{name}}
    .subitems
      .item(
        al-repeat='(name,subitem) in item',
        al-on.click='contextMenu.onClick(subitem)'
      )
        | {{name}}