// Groups
div.group(al-repeat='group in editor.groups',
  :style.left='group.position[0]',
  :style.top='group.position[1]',
  :style.width='group.width',
  :style.height='group.height',
  al-dragable-group,
  class="{{editor.active === group?'active':''}}"
  )
  div.group-title(al-group-title-click)
    | {{group.title}}
  div.group-handler(al-dragable-group-handler="rb")
  div.group-handler(al-dragable-group-handler="lt")
  div.group-handler(al-dragable-group-handler="lb")
  div.group-handler(al-dragable-group-handler="rt")

// Connections
svg.connections
  path.connection(
    al-repeat='path in editor.paths', 
    :d='path.d'
    class='{{path.active?"active":null}}'
  )

// Nodes
div.node(al-repeat='node in editor.nodes',
  :style.left='node.position[0]',
  :style.top='node.position[1]',
  al-dragable-node,
  al-node-load,  
  class="{{editor.active===node?'active':''}}"
  )
  div.title
    .arrow
    | {{node.title}}

  // Outputs
  div(al-repeat='output in node.outputs',style="text-align: right")
    .output-title
      | {{output.title}}
    .socket.output(
      al-pick-output, 
      class='{{output.socket.id}}',
      title='{{output.socket.name}}\n{{output.socket.hint}}'
    )

  // Controls
  div.control(
    al-repeat='control in node.controls', 
    style="text-align: center",
    :width='control.parent.width - 2 * control.margin', 
    :height='control.height', 
    al-control='control'
  )

  // Inputs
  div(al-repeat='input in node.inputs',style="text-align: left")
    .socket.input(
      al-pick-input,
      class="{{input.socket.id}} {{input.multipleConnections?'multiple':''}}"
      title='{{input.socket.name}}\n{{input.socket.hint}}'
    )
    .input-title(
      al-if='!input.showControl()'
    )
      | {{input.title}}
    .input-control(
      al-if='input.showControl()'
      al-control='input.control'
    )